{{#partial "styles"}}
    <link rel='stylesheet' href='/css/form.css'>
{{/partial}}
{{#partial "content"}}
    <h1 class="header">WILDLIFE TRACKER</h1>
<div class="questionnaire">
    <br>
    <br>
    <br>
    <form action="/view" method="post">
        <h2>Animal Sighting</h2>
        <div class="form-group">
            <label for="rangerName">Ranger's Name</label>
            <div class="text">
                <input type="text" id="rangerName" name="rangerName">
            </div>
        </div>
        <hr>
        <div class="try">
            <p>Location of Sighting</p>
            <select name="sightingLocation" id="sightingLocation">
                <option value="Zone A">Zone A</option>
                <option value="Zone B">Zone B</option>
                <option value="Zone C">Zone C</option>
                <option value="Zone D">Zone D</option>
            </select>
        </div>

        <hr>
        <div class="">
            <div class="form-group">
                <label for="animalName">Animal Name</label>
                <div class="text">
                    <input type="text" id="animalName" name="animalName">
                </div>

            </div>

        </div>
        <hr>

        <div class="try">
            <p>Animal's Age</p>
            <select name="animalAge" id="animalAge">
                <option value="newborn">Newborn</option>
                <option value="young">Young</option>
                <option value="adult">Adult</option>
            </select>
        </div>
        <hr>
        <div class="try">
            <p>Animal's Health</p>
            <select name="animalHealth" id="animalHealth">
                <option value="ill">ill</option>
                <option value="healthy">Healthy</option>
                <option value="okay">Okay</option>
            </select>
        </div>
        <hr>


        <div class="try">
            <p>Animal species</p>
            <select name="animalType" id="animalType">
                <option value="Big5">Big5</option>
                <option value="endangered">Endangered</option>
            </select>
        </div>
        <hr>
        <button type="submit" class="button">Submit</button>
    </form>

</div>


{{/partial}}
{{>layout.hbs}}

