{{#partial "styles"}}
    <link rel='stylesheet' href='/css/index.css'>
{{/partial}}

{{#partial "content"}}
    <div class="background">

    <div class=" ">

        <h1>Welcome to our Wildlife-Tracker website. </h1>
        </div>
        <hr>

    <div class="button-all">
        <a href="/form" class="btn btn-half">Record animal sighting</a>

    </div>
    </div>
{{/partial}}
{{>layout.hbs}}